<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/jquery.js"></script>
    <title>MySite</title>
</head>
<body>
<center>
<form action="/signup" method="post" id="form">
<label for="name">Name:</label>
<input type="text" name="name" id="name" required><br>
<label for="mail">mail:</label>
<input type="email" name="mail" id="mail" required><br> 
<label for="age">age:</label>
<input type="number" name="age" id="age" required><br>
<label for="city">city:</label>
<input type="text" name="city" id="city" required><br>
<label for="pass">password:</label>
<input type="password" name="password" id="pass" required><br>
<button id="sub">done</button>
</form>
<br>
<br>
<a href="/home">back</a>
</center>
</body>
<script>
</script>
</html>